<h3>Hoteles</h3>
<hr>
<form (ngSubmit)="save()" #forma="ngForm">
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        id="inputName"
        [(ngModel)]="hoteles.name"
        name="nombre"
        placeholder="Nombre completo"
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputName" class="col-sm-2 col-form-label">Descripción</label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        [(ngModel)]="hoteles.description"
        id="inputDescription"
        placeholder="Descripción"
        name="description"
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="exampleFormControlSelect1" class="col-sm-2 col-form-label">Calificación</label>
    <div class="col-sm-10">
      <select class="form-control" id="SelectCalificacion" [(ngModel)]="hoteles.calif" name="calif">
        <option>10</option>
        <option>9</option>
        <option>8</option>
        <option>7</option>
        <option>6</option>
      </select>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary" [disabled]="!forma.valid">Agregar Hotel</button>
    </div>
  </div>
</form>
