<div class="container-fluid">
  <nav class="row navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Reservaciones</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/register">Hotel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/habitaciones">Habitaciones</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
