<h3>Habitaciones</h3>
<hr>
<form (ngSubmit)="saveHabitacion()" #forma="ngForm">
  <div class="form-group row">
    <label for="inputPiso" class="col-sm-2 col-form-label">piso</label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        id="inputPiso"
        [(ngModel)]="habitaciones.piso"
        name="piso"
        placeholder="Piso"
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNumero" class="col-sm-2 col-form-label">numero</label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        id="inputNumero"
        [(ngModel)]="habitaciones.numero"
        name="numero"
        placeholder="numero"
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCapacidad" class="col-sm-2 col-form-label">capacidad</label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        id="inputCapacidad"
        [(ngModel)]="habitaciones.capacidad"
        name="capacidad"
        placeholder="capacidad"
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputHotel" class="col-sm-2 col-form-label">Hotel</label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        id="inputHotel"
        [(ngModel)]="habitaciones.hotel"
        name="hotel"
        placeholder="Hotel"
        required>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputCostoPorDia" class="col-sm-2 col-form-label">costo por dia</label>
    <div class="col-sm-10">
      <input type="text"
        class="form-control"
        [(ngModel)]="habitaciones.costo_x_dia"
        name="costo_x_dia"
        id="inputCostoXDia"
        placeholder="costo por dia"
        required>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit"
        [disabled]="!forma.valid"
        class="btn btn-primary">
        Agregar Habitacion</button>
    </div>
  </div>
</form>
